<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Weg Guesser</title>
	</head>
	<body>
		<div id="wrap">
			<h1>Web Guesser</h1>
			<h2>Secret number: <%= number %></h2>
			<h2>Your guess: <%= guess %></h2>
			<form>
				<input type="text" name="guess"/>
				<input type="submit" value="Guess"/>
			</form>
		</div>
	</body>
</html>